<footer class="footer">
    <div class="container">
        <ul class="sns">
            <li>
                <a href="#"><img src="../assets/images/fb.png" alt="facebook" class="sns-img"></a>
            </li>
            <li>
                <a href="#"><img src="../assets/images/instagram.png" alt="instagram" class="sns-img"></a>
            </li>
            <li>
                <a href="#"><img src="../assets/images/line.png" alt="line" class="sns-img"></a>
            </li>
        </ul>
    </div>
</footer>