<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <div class="container">
        <section class="header">
          <h1 class="title">VITO</h1>
          <img src="../assets/images/vito.png" alt="vito" class="header-img">
          <h2 class="title text-align-right">RESUME</h2>
        </section>
        <section class="desc">
          <div class="desc-text">
            <p class="fs-1">I'm Vito, a UI Designer with 5+ years of experience. I create visually appealing interfaces for web and mobile apps. Proficient in Sketch, Adobe XD, Figma, HTML, CSS, and JavaScript. I enjoy collaborating with others to create high-quality products.</p>
          </div>
        </section>
        <section class="info">
          <ul class="info-list">
            <li class="profile">
              <h3 class="subtitle">Vito Evans</h3>
              <ol class="info-content">
                <li class="fs-2">456 Walnut Avenue, Someville, USA</li>
                <li class="fs-2"><a href="tel:+11234567890">+1 123 456 7890</a></li>
                <li class="fs-2"><a href="mailto:info@hexschool.com"></a>info@hexschool.com</li>
                <li class="fs-2"><a href="www.infohexschool.com"></a>www.infohexschool.com</li>
              </ol>
            </li>
            <li class="education"> 
              <h3 class="subtitle">Education</h3>
              <ol class="info-content">
                <li>
                  <P class="fs-3">2014-2018</P>
                  <P class="fs-2">Bachelor of Science in Business Administration, University of California, Los Angeles</P>
                </li>
                <li>
                  <P class="fs-3">2012-2014 </P>
                  <P class="fs-2">Associate of Arts in Graphic Design, San Francisco State University</P>
                </li>
                <li>
                  <P class="fs-3">2008-2012 </P>
                  <P class="fs-2">High School Diploma, Lincoln High School</P>
                </li>
              </ol>
            </li>
            <li class="work"> 
              <h3 class="subtitle">Work</h3>
              <ol class="info-content">
                <li>
                  <p class="fs-3">2018-2021</p>
                  <p class="fs-2">Marketing Manager, ABC Company</p>
                </li>
                <li>
                  <p class="fs-3">2016-2018</p>
                  <p class="fs-2">Sales Associate, XYZ Corporation</p>
                </li>
                <li>
                  <p class="fs-3">2014-2016</p>
                  <p class="fs-2">Customer Service Representative, QRS Inc.</p>
                </li>
              </ol>
            </li>
            <li class="awards"> 
              <h3 class="subtitle">Awards</h3>
              <ol class="info-content">
                <li class="fs-2">Best in Show Award, National Advertising Awards, 2020</li>
                <li class="fs-2">Honorable Mention, International Design Competition, 2019</li>
                <li class="fs-2">People's Choice Award, Local Art Exhibition, 2018</li>
              </ol>
            </li>
          </ul>
        </section>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
